<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style.css">
  <meta charset="UTF-8">
  <title>Blue Hark - Create Giveaway</title>
</head>
<body>
  <h1>Create a Giveaway</h1>
  <form action="/create" method="POST">
    <input type="text" name="name" placeholder="Giveaway Room Name" required>
    <br>
    <input type="text" name="channel_link" placeholder="Channel Link" required>
    <br>
    <button type="submit">Create Giveaway</button>
  </form>
  <p><a href="/">Back to Home</a></p>
<script src="/js/api-fetch.js"></script>
</body>
</html>
