<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style.css">
  <meta charset="UTF-8">
  <title>Blue Hark - Sign Up</title>
</head>
<body>
  <h1>Sign Up</h1>
  <form action="/signup" method="POST">
    <input type="text" name="username" placeholder="Username" required>
    <br>
    <input type="password" name="password" placeholder="Password" required>
    <br>
    <button type="submit">Sign Up</button>
  </form>
  <p>Already have an account? <a href="/login">Log In</a></p>
<script src="/js/api-fetch.js"></script>
</body>
</html>
